.base {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-height: 100vh;

  .navbar {
    align-items: center;
    background: transparent;
    display: flex;
    height: 88px;
    padding: 24px 80px;

    .navlink {
      color: $green;
      text-decoration: none;
      font-size: 24px;
      font-weight: 600; 
    }

    .logo {
      height: 32.37px;
      width: 68px;
    }
  }

  .main-section {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;

    .error-card {
      align-items: center;
      background: $white;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      height: 464px;
      justify-content: center;
      padding: 112px 142px;
      text-align: center;
      width: 606px;

      .title {
        color: $green;
        font-size: 96px;
        font-weight: 800;
        line-height: 96px;
        margin-bottom: 16px;
      }

      .info {
        color: $black-333;
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
        margin-bottom: 24px;
      }

      .btn {
        align-items: center;
        display: flex;
        height: 56px;
        justify-content: center;
        width: 321px;
      }
    }
  }
}
